In [1]:
import os
import sys
import numpy as np
import pandas as pd
from glob import glob
import rasterio as rio
import geopandas as gpd
from rasterio.plot import show
import matplotlib.pyplot as plt

# New SW Irrigation data for HUC12 from 2000-2022
__USGS source:__ https://www.sciencebase.gov/catalog/item/6488734cd34ef77fcafe347a

In [3]:
# USGS SW Irrigation unfiltered dataset for CONUS
conus_df = pd.read_csv('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/IR_HUC12_SW_2000_2020.csv')
conus_df

,Year,Month,010100020101,010100020102,010100020103,010100020104,010100020105,010100020201,010100020202,010100020203,...,181002041404,181002041501,181002041502,181002041503,181002041504,181002041505,181002041506,181002041507,181002041508,181002041600
0,2000,1,999,999,999,999,999,999,999,999,...,8.336743,999,1.275426,0.797185,999,999,0.087166,2.728204,6.837296,0.006625
1,2000,2,999,999,999,999,999,999,999,999,...,5.564370,999,0.454624,0.423711,999,999,0.031070,0.972465,2.437147,0.003183
2,2000,3,999,999,999,999,999,999,999,999,...,8.744829,999,0.723749,0.503358,999,999,0.049463,1.548137,3.879869,0.004347
3,2000,4,999,999,999,999,999,999,999,999,...,12.720588,999,1.304621,0.839095,999,999,0.089161,2.790654,6.993807,0.006463
4,2000,5,999,999,999,999,999,999,999,999,...,13.535360,999,1.726681,1.598889,999,999,0.118006,3.693463,9.256385,0.008270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2020,8,999,999,999,999,999,999,999,999,...,6.434034,999,1.418982,0.458079,999,999,0.201825,3.016456,9.464658,0.218485
248,2020,9,999,999,999,999,999,999,999,999,...,5.442515,999,1.178377,0.464310,999,999,0.167603,2.504980,7.859816,0.172551
249,2020,10,999,999,999,999,999,999,999,999,...,5.256459,999,1.243182,0.449360,999,999,0.176820,2.642741,8.292062,0.164409
250,2020,11,999,999,999,999,999,999,999,999,...,4.075659,999,0.802613,0.262462,999,999,0.114157,1.706185,5.353453,0.108192
251,2020,12,999,999,999,999,999,999,999,999,...,2.124704,999,0.417445,0.093818,999,999,0.059374,0.887400,2.784374,0.058471

In [4]:
# WestUS HUC12 shapefile
huc12_westUS = gpd.read_file('../../Data_main/shapefiles/HUC12/HUC12WestUS.shp')
huc12_westUS.columns

Index(['noncontr00', 'sourcedata', 'areaacres', 'humod', 'sourcefeat', 'huc12',
       'shape_leng', 'tohuc', 'states', 'sourceorig', 'shape_area', 'areasqkm',
       'hutype', 'name', 'tnmid', 'metasource', 'loaddate', 'gnis_id',
       'noncontrib', 'geometry'],
      dtype='object')

In [5]:
# HUC12 no from west US HUC12 shapefile
westUS_HUC12s = list(huc12_westUS['huc12'])
westUS_HUC12s[:15]

['070200010408',
 '090201010203',
 '090201010502',
 '090201010505',
 '090201010507',
 '090201070101',
 '090201070104',
 '090201070106',
 '090201070601',
 '090201070603',
 '090201070605',
 '090203010401',
 '090203010402',
 '090203010404',
 '090201051006']

In [6]:
# Unique HUC12 no. in USGS database
usgs_HUC12s = [i for i in conus_df.columns if i not in ['Year', 'Month']]
usgs_HUC12s[:10]

['010100020101',
 '010100020102',
 '010100020103',
 '010100020104',
 '010100020105',
 '010100020201',
 '010100020202',
 '010100020203',
 '010100020204',
 '010100020301']

In [7]:
# USGS HUC12 no. filtered with westUS HUC12 shapefile
usgs_HUC12s= set(usgs_HUC12s)
westUS_HUC12s = set(westUS_HUC12s)

usgs_HUC12s_filtered = list(usgs_HUC12s.intersection(westUS_HUC12s))
usgs_HUC12s_filtered[:10]

['181002040405',
 '130500010903',
 '120901070601',
 '160300050601',
 '160203090106',
 '171200051304',
 '170603030105',
 '140700010503',
 '101301051901',
 '170501240103']

In [8]:
# USGS HUC12 filtered for WestUS
usgs_HUC12s_filtered = ['Year', 'Month'] + usgs_HUC12s_filtered
westUS_HUC12_df = conus_df[usgs_HUC12s_filtered]
westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal

westUS_HUC12_df.head()

C:\Users\fahim\AppData\Local\Temp\ipykernel_15136\1051887114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal
C:\Users\fahim\AppData\Local\Temp\ipykernel_15136\1051887114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal

,Year,Month,181002040405,130500010903,120901070601,160300050601,160203090106,171200051304,170603030105,140700010503,...,101301040102,101000040301,100700040803,111101010108,170102120506,101303050402,150200130301,180201160403,160600130201,120800080408
0,2000,1,0.067739,0,0.0,0,0.000000,0,0,0,...,0,0,0.0,0,0.000000,0,0,0,0,0
1,2000,2,0.047967,0,0.0,0,0.000000,0,0,0,...,0,0,0.0,0,0.000000,0,0,0,0,0
2,2000,3,0.076579,0,0.0,0,0.000000,0,0,0,...,0,0,0.0,0,0.000000,0,0,0,0,0
3,2000,4,0.112720,0,0.0,0,0.000000,0,0,0,...,0,0,0.0,0,0.000000,0,0,0,0,0
4,2000,5,0.114796,0,0.0,0,0.016295,0,0,0,...,0,0,0.0,0,0.001638,0,0,0,0,0

## Filtering the dataframe for growing season and converting to annual SW withdrawal

In [9]:
# filtering for growing season months (4-10)
westUS_HUC12_df_filtered = westUS_HUC12_df[westUS_HUC12_df['Month'].isin([4, 5, 6, 7, 8, 9, 10])]
westUS_HUC12_df_filtered = westUS_HUC12_df.drop(columns='Month')

# # summing for annual SW estimates
westUS_HUC12_df_annual = westUS_HUC12_df_filtered.groupby(by=['Year']).sum().reset_index()
westUS_HUC12_df_annual.head()

,Year,181002040405,130500010903,120901070601,160300050601,160203090106,171200051304,170603030105,140700010503,101301051901,...,101301040102,101000040301,100700040803,111101010108,170102120506,101303050402,150200130301,180201160403,160600130201,120800080408
0,2000,0.810886,0,0.0,0,9.114741,0,0,0,1.183937,...,0,0,0.0,0,53.391603,0,0,0,0,0
1,2001,0.771145,0,0.0,0,3.476347,0,0,0,0.693390,...,0,0,0.0,0,59.685958,0,0,0,0,0
2,2002,0.847075,0,0.0,0,11.254394,0,0,0,0.818369,...,0,0,0.0,0,31.997804,0,0,0,0,0
3,2003,0.764223,0,0.0,0,10.030870,0,0,0,0.843248,...,0,0,0.0,0,57.343627,0,0,0,0,0
4,2004,1.151396,0,0.0,0,10.366772,0,0,0,1.486276,...,0,0,0.0,0,21.829350,0,0,0,0,0

## Tranposing the columns as rows
The annual dataframe has HUC12 names as column names. But the WestUS HUC12 shapefile has HUC12 names in a column (as rows). We need to transpose the annual dataframe.

In [10]:
westUS_HUC12_df_annual_T = westUS_HUC12_df_annual.T
westUS_HUC12_df_annual_T.columns = westUS_HUC12_df_annual_T.iloc[0].astype(int).astype(str)  # setting 1st row as column name
westUS_HUC12_df_annual_T = westUS_HUC12_df_annual_T.iloc[1:]  # dropping 1st row from dataframe
westUS_HUC12_df_annual_T = westUS_HUC12_df_annual_T.reset_index()
westUS_HUC12_df_annual_T.columns.values[0] = 'huc12'
westUS_HUC12_df_annual_T.head()

Year,huc12,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,181002040405,0.810886,0.771145,0.847075,0.764223,1.151396,1.342089,0.489781,0.000000,0.507561,...,1.019575,2.091369,4.528943,5.045833,4.993211,4.489558,4.548770,3.999419,3.533972,4.099545
1,130500010903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,120901070601,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.596729,0.117993,0.000000,...,0.000000,0.080333,0.000000,1.843048,0.000000,1.487977,1.540091,0.000000,2.394437,4.696190
3,160300050601,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,160203090106,9.114741,3.476347,11.254394,10.030870,10.366772,10.280444,10.189881,7.648602,12.666357,...,10.829967,6.543650,9.024681,6.485040,7.838456,13.187779,9.886731,10.760915,10.807098,12.417964

## Connecting the Annual SW USe dataframe with the HUC12 shapefile

In [11]:
huc12_westUS_with_SW_use = huc12_westUS.merge(westUS_HUC12_df_annual_T, on='huc12')
huc12_westUS_with_SW_use = huc12_westUS_with_SW_use.drop(columns=['noncontr00', 'sourcedata',  'areaacres',  'humod', 'sourcefeat',
                                                                  'sourceorig', 'shape_area', 'shape_leng', 'hutype', 'tnmid', 'metasource',   
                                                                  'loaddate',    'gnis_id', 'noncontrib'])
huc12_westUS_with_SW_use.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",0.379688,0.379125,0.213553,0.411233,...,0.155199,0.263505,0.087022,0.345253,0.485088,0.372583,0.328213,0.302221,0.106085,0.515867
1,090201010203,090201010205,"MN,SD",102.27,Lower Lake Traverse,"POLYGON ((-96.74647 45.72157, -96.74638 45.721...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,090201010502,090201010505,"MN,ND,SD",147.33,Clubhouse Lake-Bois de Sioux River,"POLYGON ((-96.69140 45.93483, -96.69129 45.936...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000014,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,090201010507,090201040401,"MN,ND",146.65,Bois de Sioux River,"POLYGON ((-96.67903 46.18438, -96.67900 46.184...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [12]:
huc12_westUS_with_SW_use.columns

Index(['huc12', 'tohuc', 'states', 'areasqkm', 'name', 'geometry', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

### removing HUC12s with no surface water use over 2000-2020

In [13]:
sw_data_columns = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                   '2019', '2020']

In [14]:
huc12_westUS_with_SW_use = huc12_westUS_with_SW_use[(huc12_westUS_with_SW_use[sw_data_columns] != 0).any(axis=1)]
huc12_westUS_with_SW_use

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",0.379688,0.379125,0.213553,0.411233,...,0.155199,0.263505,0.087022,0.345253,0.485088,0.372583,0.328213,0.302221,0.106085,0.515867
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000014,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,090201050103,090201050104,ND,161.92,Big Slough,"POLYGON ((-98.06522 46.21900, -98.06516 46.219...",1.647208,2.576613,2.955326,2.685966,...,2.324485,3.997495,2.613287,3.054904,2.807633,3.570284,3.361333,3.298915,1.711153,3.016146
17,090201050104,090201050202,ND,128.36,Meszaros Slough,"POLYGON ((-97.93713 46.08834, -97.93710 46.088...",0.054780,0.079228,0.060483,0.070271,...,0.048667,0.114672,0.041431,0.052412,0.025273,0.023219,0.006309,0.068601,0.031904,0.035554
18,090201050701,090201050702,ND,216.68,Town of De Lamere-Elk Creek,"POLYGON ((-97.48092 46.30549, -97.48071 46.305...",0.714585,0.000487,0.803811,1.107499,...,0.000412,1.294343,0.754634,0.806412,0.978591,0.846952,0.000679,0.743119,0.000066,0.697631
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48143,111101040601,111101040602,OK,78.92,Upper Cache Creek,"POLYGON ((-94.87605 35.26029, -94.87599 35.260...",0.806349,2.510010,1.219541,2.473386,...,2.256058,0.000000,0.000000,0.013749,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48144,111101040602,111101040603,OK,88.48,Coal Creek,"POLYGON ((-94.86737 35.19005, -94.86708 35.190...",0.080338,0.052211,0.458711,0.000000,...,0.694229,0.463035,0.356292,0.365684,0.012317,0.157509,0.000000,0.182050,0.003972,0.000512
48147,111101040608,111101040609,OK,81.31,Camp Creek,"POLYGON ((-94.59933 35.39530, -94.59917 35.396...",3.377174,10.466542,10.367787,5.548777,...,13.867319,19.450700,10.213356,11.038268,5.766590,12.084611,6.474281,10.585569,2.531274,4.697233
48148,111101040607,111101040609,OK,72.55,Lower Big Skin Bayou,"POLYGON ((-94.74798 35.41659, -94.74735 35.416...",0.528946,2.839834,0.800887,2.955382,...,1.838361,0.863863,4.308270,0.190576,0.880599,0.404089,1.098975,1.041603,0.396467,0.862439
48149,111101040603,111101040609,OK,61.49,Lower Cache Creek,"POLYGON ((-94.76503 35.31393, -94.76501 35.314...",5.422330,1.976460,6.245701,1.825707,...,13.455626,13.668466,10.082570,9.343684,2.691115,8.066772,2.703781,5.881661,1.669293,1.498599

## saving the HUC12 shapefiles with annual SW withdrawal 
`SW irrigation unit in MGD-million gallon per day`

In [ ]:
huc12_westUS_with_SW_use.to_file('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/HUC12_WestUS_with_Annual_SW.shp')