In [1]:
import calendar
import pandas as pd
import geopandas as gpd

# New GW Irrigation data for HUC12 from 2000-2020
__USGS source:__ https://www.sciencebase.gov/catalog/item/6488734cd34ef77fcafe347a

In [2]:
# USGS GW Irrigation unfiltered dataset for CONUS
conus_df = pd.read_csv('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/IR_HUC12_GW_WD_monthly_2000_2020.csv')
conus_df

,Year,Month,010100020101,010100020102,010100020103,010100020104,010100020105,010100020201,010100020202,010100020203,...,181002041404,181002041501,181002041502,181002041503,181002041504,181002041505,181002041506,181002041507,181002041508,181002041600
0,2000,1,999,999,999,999,999,999,999,999,...,10.089385,999,1.378828,1.043106,999,999,0.094233,2.949386,7.391613,0.007646
1,2000,2,999,999,999,999,999,999,999,999,...,12.923864,999,1.143523,1.045124,999,999,0.078152,2.446056,6.130192,0.007404
2,2000,3,999,999,999,999,999,999,999,999,...,20.942142,999,1.879622,1.270050,999,999,0.128459,4.020611,10.076265,0.010404
3,2000,4,999,999,999,999,999,999,999,999,...,30.273200,999,3.241706,2.162949,999,999,0.221547,6.934182,17.378125,0.015322
4,2000,5,999,999,999,999,999,999,999,999,...,31.435256,999,4.300596,3.955853,999,999,0.293915,9.199207,23.054624,0.019476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2020,8,999,999,999,999,999,999,999,999,...,14.803022,999,3.476289,1.274123,999,999,0.494440,7.389855,23.186966,0.514170
248,2020,9,999,999,999,999,999,999,999,999,...,12.677547,999,2.908326,1.299564,999,999,0.413657,6.182485,19.398628,0.409347
249,2020,10,999,999,999,999,999,999,999,999,...,12.268306,999,3.009127,1.242158,999,999,0.427994,6.396766,20.070975,0.386030
250,2020,11,999,999,999,999,999,999,999,999,...,9.468996,999,1.977553,0.729382,999,999,0.281271,4.203859,13.190343,0.257348
251,2020,12,999,999,999,999,999,999,999,999,...,5.044758,999,1.015456,0.254086,999,999,0.144430,2.158645,6.773127,0.139083

In [3]:
# WestUS HUC12 shapefile
huc12_westUS = gpd.read_file('../../Data_main/shapefiles/HUCs/HUC12/HUC12WestUS.shp')
huc12_westUS.columns

Index(['noncontr00', 'sourcedata', 'areaacres', 'humod', 'sourcefeat', 'huc12',
       'shape_leng', 'tohuc', 'states', 'sourceorig', 'shape_area', 'areasqkm',
       'hutype', 'name', 'tnmid', 'metasource', 'loaddate', 'gnis_id',
       'noncontrib', 'geometry'],
      dtype='object')

In [4]:
# HUC12 no from west US HUC12 shapefile
westUS_HUC12s = list(huc12_westUS['huc12'])
westUS_HUC12s[:5]

['070200010408',
 '090201010203',
 '090201010502',
 '090201010505',
 '090201010507']

In [5]:
# Unique HUC12 no. in USGS database
usgs_HUC12s = [i for i in conus_df.columns if i not in ['Year', 'Month']]
usgs_HUC12s[:5]

['010100020101',
 '010100020102',
 '010100020103',
 '010100020104',
 '010100020105']

In [6]:
# USGS HUC12 no. filtered with westUS HUC12 shapefile
usgs_HUC12s= set(usgs_HUC12s)
westUS_HUC12s = set(westUS_HUC12s)

usgs_HUC12s_filtered = list(usgs_HUC12s.intersection(westUS_HUC12s))
usgs_HUC12s_filtered[:5]

['150301010604',
 '170501140503',
 '102100070403',
 '101303050206',
 '180600080502']

In [7]:
# USGS HUC12 filtered for WestUS
usgs_HUC12s_filtered = ['Year', 'Month', ] + usgs_HUC12s_filtered
westUS_HUC12_df = conus_df[usgs_HUC12s_filtered]
westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no GW withdrawal

westUS_HUC12_df.head()

C:\Users\fahim\AppData\Local\Temp\ipykernel_36228\2765126297.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no GW withdrawal
C:\Users\fahim\AppData\Local\Temp\ipykernel_36228\2765126297.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no GW withdrawal

,Year,Month,150301010604,170501140503,102100070403,101303050206,180600080502,170102160206,170601020405,140600080503,...,170200072006,170602060105,170702020704,170602040809,100401020208,101500071003,180102111002,101600050301,160203061004,090100020604
0,2000,1,0.005187,0,0.000000,0,2.702975,0,0,0,...,0.0,0,0,0.000000,0.0,0.000000,0,0,0,0
1,2000,2,0.006642,0,0.000000,0,0.000000,0,0,0,...,0.0,0,0,0.000000,0.0,0.000000,0,0,0,0
2,2000,3,0.009382,0,0.000000,0,0.000000,0,0,0,...,0.0,0,0,0.000000,0.0,0.000000,0,0,0,0
3,2000,4,0.011935,0,0.211505,0,1.592467,0,0,0,...,0.0,0,0,0.000000,0.0,0.000072,0,0,0,0
4,2000,5,0.012107,0,1.228489,0,7.492023,0,0,0,...,0.0,0,0,0.020006,0.0,0.204697,0,0,0,0

## Counting number of days in a month

In [8]:
df = westUS_HUC12_df.copy()

In [9]:
# # Counting number of days in months
df['num_days_month'] = df.apply(lambda row: calendar.monthrange(int(row['Year']), int(row['Month']))[1], axis=1)
# df.head()

##  Converting monthly mean GW withdrawal to monthly total GW withdrawal

In [10]:
# converting monthly mean GW withdrawal to monthly total GW withdrawal
columns_temporal = ['Year', 'Month', 'num_days_month']
cols_to_multiply = [i for i in df.columns if i not in columns_temporal]

multiplied_cols = df[cols_to_multiply].mul(df['num_days_month'], axis=0)
df.update(multiplied_cols)
# df.head()

## Converting monthly totals to annual GW withdrawal

In [11]:
# # summing for annual GW estimates
df = df.drop(columns=['Month', 'num_days_month'])
df_annual = df.groupby(by=['Year']).sum().reset_index()
df_annual

,Year,150301010604,170501140503,102100070403,101303050206,180600080502,170102160206,170601020405,140600080503,101900140204,...,170200072006,170602060105,170702020704,170602040809,100401020208,101500071003,180102111002,101600050301,160203061004,090100020604
0,2000,3.512888,0,661.951861,0,2007.299114,0,0,0,0,...,0.318020,0,0,49.152771,0.000000,385.046426,0,0,0,0
1,2001,3.495579,0,547.324629,0,1794.461039,0,0,0,0,...,3.320445,0,0,46.290736,0.000000,332.628513,0,0,0,0
2,2002,3.726376,0,554.337576,0,2267.278406,0,0,0,0,...,2.721669,0,0,39.105718,0.000000,342.387697,0,0,0,0
3,2003,3.072522,0,721.303101,0,2077.217039,0,0,0,0,...,5.112855,0,0,51.166075,0.000000,461.129923,0,0,0,0
4,2004,3.016881,0,642.993793,0,2482.138092,0,0,0,0,...,3.640417,0,0,31.064922,0.061329,319.017216,0,0,0,0
5,2005,2.639470,0,692.447725,0,1858.961782,0,0,0,0,...,9.473692,0,0,39.600346,0.000000,109.893903,0,0,0,0
6,2006,0.893982,0,698.173385,0,2060.056825,0,0,0,0,...,11.048748,0,0,47.455472,0.252470,180.136869,0,0,0,0
7,2007,0.000000,0,496.162476,0,3024.215328,0,0,0,0,...,13.131286,0,0,52.186859,0.000000,324.368493,0,0,0,0
8,2008,1.291738,0,459.704080,0,2818.491828,0,0,0,0,...,10.553433,0,0,47.347391,0.000000,267.878372,0,0,0,0
9,2009,1.505779,0,444.683836,0,2243.609239,0,0,0,0,...,11.788217,0,0,39.676661,0.000000,181.372807,0,0,0,0
10,2010,1.559849,0,449.148150,0,1520.719630,0,0,0,0,...,7.950902,0,0,40.106163,0.029346,138.632178,0,0,0,0
11,2011,1.698957,0,562.945640,0,1629.111971,0,0,0,0,...,7.520304,0,0,50.567675,0.352291,379.633399,0,0,0,0
12,2012,2.613687,0,1232.331633,0,2320.068694,0,0,0,0,...,10.233547,0,0,36.523907,0.061615,497.081089,0,0,0,0
13,2013,0.000000,0,700.720353,0,2896.336800,0,0,0,0,...,10.434584,0,0,48.735540,0.046884,631.433245,0,0,0,0
14,2014,2.824299,0,402.030936,0,2696.397235,0,0,0,0,...,12.671631,0,0,52.209226,0.025985,504.341446,0,0,0,0
15,2015,2.812826,0,635.456544,0,2745.417648,0,0,0,0,...,12.960771,0,0,56.181987,0.169870,280.222969,0,0,0,0
16,2016,3.033090,0,627.874913,0,2034.044065,0,0,0,0,...,11.244992,0,0,54.700640,0.052731,239.137731,0,0,0,0
17,2017,2.719038,0,559.777885,0,2215.070710,0,0,0,0,...,8.380576,0,0,46.898520,0.080389,402.530559,0,0,0,0
18,2018,0.000000,0,353.010030,0,2989.357640,0,0,0,0,...,9.685207,0,0,57.480087,0.064450,287.580699,0,0,0,0
19,2019,0.000000,0,254.970401,0,2509.371828,0,0,0,0,...,7.973988,0,0,52.480080,0.043383,287.017363,0,0,0,0
20,2020,0.000000,0,628.162700,0,3547.953117,0,0,0,0,...,9.627767,0,0,47.724749,0.032365,545.568627,0,0,0,0

## Tranposing the columns as rows
The annual dataframe has HUC12 names as column names. But the WestUS HUC12 shapefile has HUC12 names in a column (as rows). We need to transpose the annual dataframe.

In [12]:
df_annual_T = df_annual.T
df_annual_T.columns = df_annual_T.iloc[0].astype(int).astype(str)  # setting 1st row as column name
df_annual_T = df_annual_T.iloc[1:]  # dropping 1st row from dataframe
df_annual_T = df_annual_T.reset_index()
df_annual_T.columns.values[0] = 'huc12'
df_annual_T.head()

Year,huc12,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,150301010604,3.512888,3.495579,3.726376,3.072522,3.016881,2.639470,0.893982,0.000000,1.291738,...,1.698957,2.613687,0.000000,2.824299,2.812826,3.033090,2.719038,0.00000,0.000000,0.000000
1,170501140503,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
2,102100070403,661.951861,547.324629,554.337576,721.303101,642.993793,692.447725,698.173385,496.162476,459.704080,...,562.945640,1232.331633,700.720353,402.030936,635.456544,627.874913,559.777885,353.01003,254.970401,628.162700
3,101303050206,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
4,180600080502,2007.299114,1794.461039,2267.278406,2077.217039,2482.138092,1858.961782,2060.056825,3024.215328,2818.491828,...,1629.111971,2320.068694,2896.336800,2696.397235,2745.417648,2034.044065,2215.070710,2989.35764,2509.371828,3547.953117

## Connecting the Annual GW USe dataframe with the HUC12 shapefile

In [13]:
huc12_westUS_with_GW_irr = huc12_westUS.merge(df_annual_T, on='huc12')
huc12_westUS_with_GW_irr = huc12_westUS_with_GW_irr.drop(columns=['noncontr00', 'sourcedata',  'areaacres',  'humod', 'sourcefeat',
                                                                  'sourceorig', 'shape_area', 'shape_leng', 'hutype', 'tnmid', 'metasource',   
                                                                  'loaddate',    'gnis_id', 'noncontrib'])
huc12_westUS_with_GW_irr.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",730.127768,699.911472,672.155401,773.918993,...,1003.521464,1723.256821,1029.116643,1175.478913,1059.599988,942.130827,890.318835,1023.822081,440.532366,1575.011055
1,090201010203,090201010205,"MN,SD",102.27,Lower Lake Traverse,"POLYGON ((-96.74647 45.72157, -96.74638 45.721...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,090201010502,090201010505,"MN,ND,SD",147.33,Clubhouse Lake-Bois de Sioux River,"POLYGON ((-96.69140 45.93483, -96.69129 45.936...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.015180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,090201010507,090201040401,"MN,ND",146.65,Bois de Sioux River,"POLYGON ((-96.67903 46.18438, -96.67900 46.184...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [14]:
huc12_westUS_with_GW_irr.columns

Index(['huc12', 'tohuc', 'states', 'areasqkm', 'name', 'geometry', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

### removing HUC12s with no groundwater water use over 2000-2020

In [15]:
gw_data_columns = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                   '2019', '2020']

In [16]:
huc12_westUS_with_GW_irr = huc12_westUS_with_GW_irr[(huc12_westUS_with_GW_irr[gw_data_columns] != 0).any(axis=1)]
huc12_westUS_with_GW_irr.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",730.127768,699.911472,672.155401,773.918993,...,1003.521464,1723.256821,1029.116643,1175.478913,1059.599988,942.130827,890.318835,1023.822081,440.532366,1575.011055
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.015180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,090201050103,090201050104,ND,161.92,Big Slough,"POLYGON ((-98.06522 46.21900, -98.06516 46.219...",3428.836856,4053.448470,3756.413817,4613.093281,...,3615.286188,6462.572271,4267.500958,4398.990786,3451.369172,3575.230844,4810.633107,4067.716121,2103.728766,3543.080397
17,090201050104,090201050202,ND,128.36,Meszaros Slough,"POLYGON ((-97.93713 46.08834, -97.93710 46.088...",432.378815,601.086511,470.711877,550.831121,...,384.642286,894.039175,308.785914,403.105743,198.357083,185.222837,50.581266,562.250096,260.704796,266.656573
18,090201050701,090201050702,ND,216.68,Town of De Lamere-Elk Creek,"POLYGON ((-97.48092 46.30549, -97.48071 46.305...",189.702074,0.184435,324.712880,338.121250,...,0.144183,509.189849,281.770354,305.499425,228.383913,285.159400,0.241481,253.699776,0.025924,281.286182

## area calculation

In [17]:
huc12_westUS_with_GW_AF = huc12_westUS_with_GW_irr

In [18]:
# converting to projected coords
huc12_westUS_with_GW_AF = huc12_westUS_with_GW_AF.to_crs('EPSG:3857')
huc12_westUS_with_GW_AF = huc12_westUS_with_GW_AF.drop(columns=['areasqkm'])  # dropping because of some weird values
huc12_westUS_with_GW_AF['areasqkm'] = huc12_westUS_with_GW_AF['geometry'].area / (1000 * 1000) # unit in sqkm

## unit conversion from MGD to AF/year

In [19]:
huc12_westUS_with_GW_AF[gw_data_columns] = huc12_westUS_with_GW_AF[gw_data_columns] * 3.0689 # MGD to AF/year
huc12_westUS_with_GW_AF.head()

,huc12,tohuc,states,name,geometry,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,areasqkm
0,070200010408,070200011101,"MN,SD",Big Stone Lake,"POLYGON ((-10779700.341 5716072.812, -10779690...",2240.689107,2147.958316,2062.777710,2375.079998,2116.962721,...,5288.502858,3158.256066,3607.427236,3251.806403,2891.305295,2732.299473,3142.007584,1351.949778,4833.551427,595.541280
3,090201010505,090201010507,"MN,ND",County Ditch No 26-Bois de Sioux River,"POLYGON ((-10762320.219 5788924.270, -10762320...",0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.046586,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,232.264538
16,090201050103,090201050104,ND,Big Slough,"POLYGON ((-10916570.255 5815513.467, -10916563...",10522.757427,12439.628010,11528.058363,14157.121970,11541.944166,...,19832.988042,13096.533690,13500.062823,10591.906852,10972.025937,14763.351942,12483.414004,6456.133210,10873.359430,338.035953
17,090201050104,090201050202,ND,Meszaros Slough,"POLYGON ((-10902311.951 5794517.033, -10902307...",1326.927345,1844.674394,1444.567679,1690.445627,779.872106,...,2743.716824,947.633091,1237.091215,608.738052,568.430364,155.228847,1725.489320,800.076948,818.342357,267.258451
18,090201050701,090201050702,ND,Town of De Lamere-Elk Creek,"POLYGON ((-10851526.703 5829440.442, -10851502...",582.176695,0.566013,996.511357,1037.660304,711.817922,...,1562.652728,864.725039,937.547185,700.887391,875.125683,0.741081,778.579243,0.079558,863.239164,453.867296

## saving the HUC12 shapefiles with annual GW withdrawal 
`GW irrigation unit in AF/year`

In [20]:
huc12_westUS_with_GW_AF.to_file('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/HUC12_WestUS_with_Annual_GW.shp')