In [1]:
import calendar
import pandas as pd
import geopandas as gpd

# New SW Irrigation data for HUC12 from 2000-2020
__USGS source:__ https://www.sciencebase.gov/catalog/item/6488734cd34ef77fcafe347a

In [2]:
# USGS SW Irrigation unfiltered dataset for CONUS
conus_df = pd.read_csv('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/IR_HUC12_SW_WD_monthly_2000_2020.csv')
conus_df

,Year,Month,010100020101,010100020102,010100020103,010100020104,010100020105,010100020201,010100020202,010100020203,...,181002041404,181002041501,181002041502,181002041503,181002041504,181002041505,181002041506,181002041507,181002041508,181002041600
0,2000,1,999,999,999,999,999,999,999,999,...,4.221799,999,0.576956,0.436477,999,999,0.039431,1.234140,3.092944,0.003199
1,2000,2,999,999,999,999,999,999,999,999,...,5.407858,999,0.478495,0.437322,999,999,0.032702,1.023527,2.565116,0.003098
2,2000,3,999,999,999,999,999,999,999,999,...,8.763024,999,0.786508,0.531440,999,999,0.053752,1.682383,4.216310,0.004353
3,2000,4,999,999,999,999,999,999,999,999,...,12.667509,999,1.356459,0.905064,999,999,0.092704,2.901537,7.271698,0.006411
4,2000,5,999,999,999,999,999,999,999,999,...,13.153760,999,1.799540,1.655286,999,999,0.122986,3.849313,9.646970,0.008150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2020,8,999,999,999,999,999,999,999,999,...,6.194172,999,1.454618,0.533144,999,999,0.206893,3.092209,9.702348,0.215149
248,2020,9,999,999,999,999,999,999,999,999,...,5.304789,999,1.216959,0.543789,999,999,0.173091,2.586997,8.117156,0.171287
249,2020,10,999,999,999,999,999,999,999,999,...,5.133546,999,1.259138,0.519768,999,999,0.179090,2.676661,8.398493,0.161530
250,2020,11,999,999,999,999,999,999,999,999,...,3.962204,999,0.827487,0.305202,999,999,0.117695,1.759062,5.519363,0.107684
251,2020,12,999,999,999,999,999,999,999,999,...,2.110927,999,0.424907,0.106320,999,999,0.060435,0.903263,2.834145,0.058198

In [3]:
# WestUS HUC12 shapefile
huc12_westUS = gpd.read_file('../../Data_main/shapefiles/HUCs/HUC12/HUC12WestUS.shp')
huc12_westUS.columns

Index(['noncontr00', 'sourcedata', 'areaacres', 'humod', 'sourcefeat', 'huc12',
       'shape_leng', 'tohuc', 'states', 'sourceorig', 'shape_area', 'areasqkm',
       'hutype', 'name', 'tnmid', 'metasource', 'loaddate', 'gnis_id',
       'noncontrib', 'geometry'],
      dtype='object')

In [4]:
# HUC12 no from west US HUC12 shapefile
westUS_HUC12s = list(huc12_westUS['huc12'])
westUS_HUC12s[:5]

['070200010408',
 '090201010203',
 '090201010502',
 '090201010505',
 '090201010507']

In [5]:
# Unique HUC12 no. in USGS database
usgs_HUC12s = [i for i in conus_df.columns if i not in ['Year', 'Month']]
usgs_HUC12s[:5]

['010100020101',
 '010100020102',
 '010100020103',
 '010100020104',
 '010100020105']

In [6]:
# USGS HUC12 no. filtered with westUS HUC12 shapefile
usgs_HUC12s= set(usgs_HUC12s)
westUS_HUC12s = set(westUS_HUC12s)

usgs_HUC12s_filtered = list(usgs_HUC12s.intersection(westUS_HUC12s))
usgs_HUC12s_filtered[:5]

['171200081003',
 '120800040705',
 '101302051001',
 '180102120505',
 '090201050803']

In [7]:
# USGS HUC12 filtered for WestUS
usgs_HUC12s_filtered = ['Year', 'Month'] + usgs_HUC12s_filtered
westUS_HUC12_df = conus_df[usgs_HUC12s_filtered]
westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal

westUS_HUC12_df.head()

C:\Users\fahim\AppData\Local\Temp\ipykernel_18256\1051887114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal
C:\Users\fahim\AppData\Local\Temp\ipykernel_18256\1051887114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal

,Year,Month,171200081003,120800040705,101302051001,180102120505,090201050803,140500030209,110300170401,160503010205,...,120602020305,160600121303,100800080403,110702050601,150701040105,130402040305,150400050802,140600100501,110200100108,150301010109
0,2000,1,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0,0.000000,0.0,0,0,0,0.0,0
1,2000,2,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0,0.000000,0.0,0,0,0,0.0,0
2,2000,3,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0,0.000000,0.0,0,0,0,0.0,0
3,2000,4,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0,0.193385,0.0,0,0,0,0.0,0
4,2000,5,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0,0.006215,0.0,0,0,0,0.0,0

## Filtering the dataframe for growing season
__Currently not filtering for any particular growing season. Assuming that the USGS model simulated no surface water withdrawal outside growing season__

In [8]:
# # filtering for growing season months (4-10)
# westUS_HUC12_df_filtered = westUS_HUC12_df[westUS_HUC12_df['Month'].isin([4, 5, 6, 7, 8, 9, 10])]

## Counting number of days in a month

In [9]:
df = westUS_HUC12_df.copy()

In [10]:
# # Counting number of days in months
df['num_days_month'] = df.apply(lambda row: calendar.monthrange(int(row['Year']), int(row['Month']))[1], axis=1)
# df.head()

## Converting monthly mean SW withdrawal to monthly total SW withdrawal

In [11]:
# converting monthly mean SW withdrawal to monthly total SW withdrawal
columns_temporal = ['Year', 'Month', 'num_days_month']
cols_to_multiply = [i for i in df.columns if i not in columns_temporal]

multiplied_cols = df[cols_to_multiply].mul(df['num_days_month'], axis=0)
df.update(multiplied_cols)
df.head()

,Year,Month,171200081003,120800040705,101302051001,180102120505,090201050803,140500030209,110300170401,160503010205,...,160600121303,100800080403,110702050601,150701040105,130402040305,150400050802,140600100501,110200100108,150301010109,num_days_month
0,2000,1,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0.000000,0.0,0,0,0,0.0,0,31
1,2000,2,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0.000000,0.0,0,0,0,0.0,0,29
2,2000,3,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0.000000,0.0,0,0,0,0.0,0,31
3,2000,4,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,5.801550,0.0,0,0,0,0.0,0,30
4,2000,5,0,0.0,0.0,0,0.0,0.0,0.0,0,...,0,0,0.192665,0.0,0,0,0,0.0,0,31

## Converting monthly totals to growing season SW withdrawal

In [12]:
# # summing for annual SW estimates
df = df.drop(columns=['Month', 'num_days_month'])
df_annual = df.groupby(by=['Year']).sum().reset_index()
df_annual

,Year,171200081003,120800040705,101302051001,180102120505,090201050803,140500030209,110300170401,160503010205,150400010703,...,120602020305,160600121303,100800080403,110702050601,150701040105,130402040305,150400050802,140600100501,110200100108,150301010109
0,2000,0,0.000000,0.000000,0,0.000000,1000.058257,0.000000,0,0,...,0,0,0,99.063962,0.000000,0,0,0,398.435669,0
1,2001,0,0.540946,0.000000,0,0.000000,980.947605,0.000000,0,0,...,0,0,0,58.017812,15.461530,0,0,0,186.837485,0
2,2002,0,1.560128,0.000000,0,0.000000,1170.240277,2.100253,0,0,...,0,0,0,72.449263,0.184274,0,0,0,0.000000,0
3,2003,0,0.729905,0.000000,0,0.000000,300.033362,0.000000,0,0,...,0,0,0,29.329315,0.216285,0,0,0,171.289717,0
4,2004,0,0.815482,0.000000,0,0.000000,1005.823809,0.000000,0,0,...,0,0,0,0.000000,0.000000,0,0,0,169.132849,0
5,2005,0,0.948916,0.000000,0,0.000000,1231.366271,0.000000,0,0,...,0,0,0,44.808631,16.643871,0,0,0,301.421874,0
6,2006,0,1.961623,0.000000,0,0.112936,1144.997392,0.000000,0,0,...,0,0,0,187.239853,0.000000,0,0,0,41.374140,0
7,2007,0,0.936022,0.000000,0,0.000000,1097.370082,0.000000,0,0,...,0,0,0,0.000000,0.245010,0,0,0,179.443629,0
8,2008,0,0.360861,0.000000,0,0.000000,1174.215973,0.887706,0,0,...,0,0,0,0.000000,0.073760,0,0,0,155.078891,0
9,2009,0,0.615307,0.000000,0,0.145816,1149.916459,0.000000,0,0,...,0,0,0,0.000000,0.312549,0,0,0,177.984381,0
10,2010,0,0.000000,86.522126,0,0.125598,1555.080745,0.000000,0,0,...,0,0,0,19.709258,0.121913,0,0,0,323.308962,0
11,2011,0,0.534218,78.133453,0,0.000000,1256.329160,0.000000,0,0,...,0,0,0,215.352250,0.052615,0,0,0,128.082518,0
12,2012,0,0.593504,0.000000,0,0.000000,1274.937547,0.000000,0,0,...,0,0,0,169.344590,0.120809,0,0,0,0.000000,0
13,2013,0,0.000000,0.000000,0,0.046127,1313.819969,0.000000,0,0,...,0,0,0,12.672892,0.371245,0,0,0,43.642230,0
14,2014,0,0.000000,84.025320,0,0.204184,1696.394957,0.000000,0,0,...,0,0,0,269.290595,0.158677,0,0,0,224.117826,0
15,2015,0,0.000000,0.000000,0,0.000000,1656.901032,0.000000,0,0,...,0,0,0,0.000000,0.268863,0,0,0,290.592844,0
16,2016,0,0.418167,0.000000,0,0.000000,2020.801422,0.000000,0,0,...,0,0,0,98.398455,0.057384,0,0,0,222.107180,0
17,2017,0,0.616448,0.000000,0,0.000000,1840.347552,0.000000,0,0,...,0,0,0,0.000000,0.308989,0,0,0,0.000000,0
18,2018,0,0.515538,0.000000,0,0.000000,2220.292807,0.000000,0,0,...,0,0,0,0.000000,0.256845,0,0,0,0.000000,0
19,2019,0,0.000000,0.000000,0,0.000000,1895.260570,0.000000,0,0,...,0,0,0,0.000000,0.245908,0,0,0,0.000000,0
20,2020,0,0.000000,0.000000,0,0.000000,1959.682723,0.000000,0,0,...,0,0,0,0.000000,0.191946,0,0,0,0.000000,0

## Tranposing the columns as rows
The annual dataframe has HUC12 names as column names. But the WestUS HUC12 shapefile has HUC12 names in a column (as rows). We need to transpose the annual dataframe.

In [13]:
df_annual_T = df_annual.T
df_annual_T.columns = df_annual_T.iloc[0].astype(int).astype(str)  # setting 1st row as column name
df_annual_T = df_annual_T.iloc[1:]  # dropping 1st row from dataframe
df_annual_T = df_annual_T.reset_index()
df_annual_T.columns.values[0] = 'huc12'
df_annual_T.head()

Year,huc12,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,171200081003,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0
1,120800040705,0.0,0.540946,1.560128,0.729905,0.815482,0.948916,1.961623,0.936022,0.360861,...,0.534218,0.593504,0.000000,0.000000,0.0,0.418167,0.616448,0.515538,0.0,0.0
2,101302051001,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,78.133453,0.000000,0.000000,84.025320,0.0,0.000000,0.000000,0.000000,0.0,0.0
3,180102120505,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0
4,090201050803,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.112936,0.000000,0.000000,...,0.000000,0.000000,0.046127,0.204184,0.0,0.000000,0.000000,0.000000,0.0,0.0

## Connecting the Annual SW USe dataframe with the HUC12 shapefile

In [14]:
huc12_westUS_with_SW_use = huc12_westUS.merge(df_annual_T, on='huc12')
huc12_westUS_with_SW_use = huc12_westUS_with_SW_use.drop(columns=['noncontr00', 'sourcedata',  'areaacres',  'humod', 'sourcefeat',
                                                                  'sourceorig', 'shape_area', 'shape_leng', 'hutype', 'tnmid', 'metasource',   
                                                                  'loaddate',    'gnis_id', 'noncontrib'])
huc12_westUS_with_SW_use.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",11.11869,14.283896,7.475964,14.185851,...,5.04281,8.659566,3.096654,11.873531,17.229249,12.409027,11.726601,11.3873,3.552658,17.517778
1,090201010203,090201010205,"MN,SD",102.27,Lower Lake Traverse,"POLYGON ((-96.74647 45.72157, -96.74638 45.721...",0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
2,090201010502,090201010505,"MN,ND,SD",147.33,Clubhouse Lake-Bois de Sioux River,"POLYGON ((-96.69140 45.93483, -96.69129 45.936...",0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000216,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000
4,090201010507,090201040401,"MN,ND",146.65,Bois de Sioux River,"POLYGON ((-96.67903 46.18438, -96.67900 46.184...",0.00000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000

In [15]:
huc12_westUS_with_SW_use.columns

Index(['huc12', 'tohuc', 'states', 'areasqkm', 'name', 'geometry', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

### removing HUC12s with no surface water use over 2000-2020

In [16]:
sw_data_columns = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                   '2019', '2020']

In [17]:
huc12_westUS_with_SW_use = huc12_westUS_with_SW_use[(huc12_westUS_with_SW_use[sw_data_columns] != 0).any(axis=1)]
huc12_westUS_with_SW_use.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",11.118690,14.283896,7.475964,14.185851,...,5.042810,8.659566,3.096654,11.873531,17.229249,12.409027,11.726601,11.387300,3.552658,17.517778
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000216,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,090201050103,090201050104,ND,161.92,Big Slough,"POLYGON ((-98.06522 46.21900, -98.06516 46.219...",52.215789,78.507149,92.370804,84.557700,...,73.781324,125.167077,78.223042,94.360354,88.496634,114.377881,108.214651,108.583788,56.157017,90.848203
17,090201050104,090201050202,ND,128.36,Meszaros Slough,"POLYGON ((-97.93713 46.08834, -97.93710 46.088...",1.736452,2.414016,1.890400,2.212197,...,1.544734,3.590540,1.240097,1.618883,0.796628,0.743860,0.203096,2.258055,1.047004,1.070937
18,090201050701,090201050702,ND,216.68,Town of De Lamere-Elk Creek,"POLYGON ((-97.48092 46.30549, -97.48071 46.305...",16.048524,0.015593,27.470260,28.604582,...,0.012202,43.076820,22.846258,24.413548,19.052596,24.124095,0.020157,21.462676,0.002122,23.465949

## saving the HUC12 shapefiles with annual SW withdrawal 
`SW irrigation unit in MG-million gallon` for the growing season

In [18]:
huc12_westUS_with_SW_use.to_file('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/HUC12_WestUS_with_Annual_SW.shp')