In [1]:
import calendar
import pandas as pd
import geopandas as gpd

# New GW Irrigation data for HUC12 from 2000-2020
__USGS source:__ https://www.sciencebase.gov/catalog/item/6488734cd34ef77fcafe347a

In [2]:
# USGS GW Irrigation unfiltered dataset for CONUS
conus_df = pd.read_csv('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/IR_HUC12_GW_2000_2020.csv')
conus_df

,Year,Month,010100020101,010100020102,010100020103,010100020104,010100020105,010100020201,010100020202,010100020203,...,181002041404,181002041501,181002041502,181002041503,181002041504,181002041505,181002041506,181002041507,181002041508,181002041600
0,2000,1,999,999,999,999,999,999,999,999,...,19.923402,999,3.048051,1.905138,999,999,0.208312,6.519945,16.339979,0.015832
1,2000,2,999,999,999,999,999,999,999,999,...,13.297902,999,1.086475,1.012598,999,999,0.074253,2.324027,5.824368,0.007606
2,2000,3,999,999,999,999,999,999,999,999,...,20.898659,999,1.729637,1.202940,999,999,0.118208,3.699786,9.272230,0.010390
3,2000,4,999,999,999,999,999,999,999,999,...,30.400049,999,3.117823,2.005295,999,999,0.213081,6.669190,16.714013,0.015446
4,2000,5,999,999,999,999,999,999,999,999,...,32.347216,999,4.126474,3.821073,999,999,0.282015,8.826750,22.121190,0.019763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2020,8,999,999,999,999,999,999,999,999,...,15.376251,999,3.391127,1.094732,999,999,0.482327,7.208818,22.618928,0.522143
248,2020,9,999,999,999,999,999,999,999,999,...,13.006688,999,2.816122,1.109623,999,999,0.400543,5.986479,18.783629,0.412368
249,2020,10,999,999,999,999,999,999,999,999,...,12.562046,999,2.970994,1.073895,999,999,0.422570,6.315704,19.816622,0.392910
250,2020,11,999,999,999,999,999,999,999,999,...,9.740133,999,1.918108,0.627240,999,999,0.272816,4.077492,12.793844,0.258559
251,2020,12,999,999,999,999,999,999,999,999,...,5.077682,999,0.997623,0.224209,999,999,0.141894,2.120736,6.654183,0.139737

In [3]:
# WestUS HUC12 shapefile
huc12_westUS = gpd.read_file('../../Data_main/shapefiles/HUCs/HUC12/HUC12WestUS.shp')
huc12_westUS.columns

Index(['noncontr00', 'sourcedata', 'areaacres', 'humod', 'sourcefeat', 'huc12',
       'shape_leng', 'tohuc', 'states', 'sourceorig', 'shape_area', 'areasqkm',
       'hutype', 'name', 'tnmid', 'metasource', 'loaddate', 'gnis_id',
       'noncontrib', 'geometry'],
      dtype='object')

In [4]:
# HUC12 no from west US HUC12 shapefile
westUS_HUC12s = list(huc12_westUS['huc12'])
westUS_HUC12s[:5]

['070200010408',
 '090201010203',
 '090201010502',
 '090201010505',
 '090201010507']

In [5]:
# Unique HUC12 no. in USGS database
usgs_HUC12s = [i for i in conus_df.columns if i not in ['Year', 'Month']]
usgs_HUC12s[:5]

['010100020101',
 '010100020102',
 '010100020103',
 '010100020104',
 '010100020105']

In [6]:
# USGS HUC12 no. filtered with westUS HUC12 shapefile
usgs_HUC12s= set(usgs_HUC12s)
westUS_HUC12s = set(westUS_HUC12s)

usgs_HUC12s_filtered = list(usgs_HUC12s.intersection(westUS_HUC12s))
usgs_HUC12s_filtered[:5]

['121003020508',
 '170102160302',
 '140801040502',
 '180902030604',
 '110400010601']

In [7]:
# USGS HUC12 filtered for WestUS
usgs_HUC12s_filtered = ['Year', 'Month', ] + usgs_HUC12s_filtered
westUS_HUC12_df = conus_df[usgs_HUC12s_filtered]
westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no GW withdrawal

westUS_HUC12_df.head()

C:\Users\fahim\AppData\Local\Temp\ipykernel_31152\2765126297.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no GW withdrawal
C:\Users\fahim\AppData\Local\Temp\ipykernel_31152\2765126297.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no GW withdrawal

,Year,Month,121003020508,170102160302,140801040502,180902030604,110400010601,180500030306,160202020502,111403070204,...,101800071302,110500010403,160203010105,102500100106,111303010104,170501090105,170703031006,120301020201,100800080405,171200070801
0,2000,1,0.0,0,0,0,0,0,0.000000,0,...,0,0,0,0.000000,0.000000,0,0.0,0.0,0.000000,0
1,2000,2,0.0,0,0,0,0,0,0.000000,0,...,0,0,0,0.000000,0.000000,0,0.0,0.0,0.000000,0
2,2000,3,0.0,0,0,0,0,0,0.000000,0,...,0,0,0,0.000000,0.000000,0,0.0,0.0,0.000000,0
3,2000,4,0.0,0,0,0,0,0,0.000000,0,...,0,0,0,0.473692,0.026942,0,0.0,0.0,0.000000,0
4,2000,5,0.0,0,0,0,0,0,0.505548,0,...,0,0,0,1.691336,0.357048,0,0.0,0.0,0.043932,0

## Counting number of days in a month

In [8]:
df = westUS_HUC12_df.copy()

In [9]:
# # Counting number of days in months
df['num_days_month'] = df.apply(lambda row: calendar.monthrange(int(row['Year']), int(row['Month']))[1], axis=1)
# df.head()

##  Converting monthly mean GW withdrawal to monthly total GW withdrawal

In [10]:
# converting monthly mean GW withdrawal to monthly total GW withdrawal
columns_temporal = ['Year', 'Month', 'num_days_month']
cols_to_multiply = [i for i in df.columns if i not in columns_temporal]

multiplied_cols = df[cols_to_multiply].mul(df['num_days_month'], axis=0)
df.update(multiplied_cols)
# df.head()

## Converting monthly totals to annual GW withdrawal

In [11]:
# # summing for annual GW estimates
df = df.drop(columns=['Month', 'num_days_month'])
df_annual = df.groupby(by=['Year']).sum().reset_index()
df_annual

,Year,121003020508,170102160302,140801040502,180902030604,110400010601,180500030306,160202020502,111403070204,101000040605,...,101800071302,110500010403,160203010105,102500100106,111303010104,170501090105,170703031006,120301020201,100800080405,171200070801
0,2000,0.000000,0,0,0,0,0,242.399308,0,1.907689,...,0,0,0,262.825483,93.904742,0,16.871713,0.000000,19.852802,0
1,2001,131.947706,0,0,0,0,0,267.184458,0,1.626300,...,0,0,0,461.499222,52.885229,0,9.691694,0.000000,17.449189,0
2,2002,64.060472,0,0,0,0,0,221.792309,0,2.759451,...,0,0,0,65.488004,28.601670,0,14.121974,13.253458,14.183815,0
3,2003,76.505808,0,0,0,0,0,202.852046,0,2.484635,...,0,0,0,444.130382,88.925108,0,14.492595,33.423839,11.844512,0
4,2004,6.946404,0,0,0,0,0,226.844929,0,2.765064,...,0,0,0,276.362060,29.399065,0,16.081496,0.000000,11.906005,0
5,2005,158.217240,0,0,0,0,0,183.696174,0,1.206173,...,0,0,0,490.823870,57.277260,0,13.541822,46.593421,12.656319,0
6,2006,141.935382,0,0,0,0,0,231.606809,0,2.299188,...,0,0,0,220.375245,27.413491,0,13.061140,0.000000,17.805545,0
7,2007,116.447193,0,0,0,0,0,208.148478,0,1.994613,...,0,0,0,467.179063,112.808386,0,14.938837,0.000000,21.723825,0
8,2008,222.652204,0,0,0,0,0,178.138677,0,1.839904,...,0,0,0,440.953163,75.728122,0,12.407169,0.000000,18.355221,0
9,2009,30.842664,0,0,0,0,0,190.417935,0,1.845708,...,0,0,0,286.772679,125.884305,0,13.842685,0.000000,16.566339,0
10,2010,111.870392,0,0,0,0,0,175.275865,0,1.431452,...,0,0,0,758.094610,64.839793,0,11.613389,30.651208,25.709942,0
11,2011,120.458186,0,0,0,0,0,163.988245,0,1.107100,...,0,0,0,581.478610,8.307513,0,12.844046,0.000000,15.412429,0
12,2012,0.000000,0,0,0,0,0,181.231227,0,1.552316,...,0,0,0,1076.014487,30.041858,0,13.210231,32.270148,22.027702,0
13,2013,138.238118,0,0,0,0,0,166.439631,0,3.084488,...,0,0,0,746.557968,129.392677,0,9.470239,0.000000,16.677127,0
14,2014,303.682351,0,0,0,0,0,182.651704,0,2.914906,...,0,0,0,585.020151,119.046359,0,15.903273,0.000000,10.186249,0
15,2015,174.442831,0,0,0,0,0,160.399120,0,3.521639,...,0,0,0,357.837650,68.364273,0,15.755459,0.000000,18.347856,0
16,2016,173.663622,0,0,0,0,0,195.435223,0,3.387339,...,0,0,0,387.172823,103.763863,0,16.067434,32.301822,16.632564,0
17,2017,172.654403,0,0,0,0,0,157.408367,0,4.270287,...,0,0,0,566.676439,54.040860,0,17.672325,0.000000,15.582036,0
18,2018,58.583543,0,0,0,0,0,191.875542,0,1.323322,...,0,0,0,677.964913,89.918230,0,3.028007,0.000000,15.156923,0
19,2019,153.055464,0,0,0,0,0,135.833337,0,2.234703,...,0,0,0,539.484488,85.012779,0,2.404031,0.000000,11.860401,0
20,2020,154.629885,0,0,0,0,0,184.629429,0,3.800036,...,0,0,0,675.259387,118.748198,0,2.977999,0.000000,17.145906,0

## Tranposing the columns as rows
The annual dataframe has HUC12 names as column names. But the WestUS HUC12 shapefile has HUC12 names in a column (as rows). We need to transpose the annual dataframe.

In [12]:
df_annual_T = df_annual.T
df_annual_T.columns = df_annual_T.iloc[0].astype(int).astype(str)  # setting 1st row as column name
df_annual_T = df_annual_T.iloc[1:]  # dropping 1st row from dataframe
df_annual_T = df_annual_T.reset_index()
df_annual_T.columns.values[0] = 'huc12'
df_annual_T.head()

Year,huc12,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,121003020508,0.0,131.947706,64.060472,76.505808,6.946404,158.21724,141.935382,116.447193,222.652204,...,120.458186,0.0,138.238118,303.682351,174.442831,173.663622,172.654403,58.583543,153.055464,154.629885
1,170102160302,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,140801040502,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,180902030604,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,110400010601,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Connecting the Annual GW USe dataframe with the HUC12 shapefile

In [13]:
huc12_westUS_with_GW_irr = huc12_westUS.merge(df_annual_T, on='huc12')
huc12_westUS_with_GW_irr = huc12_westUS_with_GW_irr.drop(columns=['noncontr00', 'sourcedata',  'areaacres',  'humod', 'sourcefeat',
                                                                  'sourceorig', 'shape_area', 'shape_leng', 'hutype', 'tnmid', 'metasource',   
                                                                  'loaddate',    'gnis_id', 'noncontrib'])
huc12_westUS_with_GW_irr.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",766.639778,572.134921,589.506653,691.57321,...,948.015849,1610.707521,890.580681,1050.85924,916.263275,865.122228,765.324719,837.328548,405.505139,1423.834145
1,090201010203,090201010205,"MN,SD",102.27,Lower Lake Traverse,"POLYGON ((-96.74647 45.72157, -96.74638 45.721...",0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,090201010502,090201010505,"MN,ND,SD",147.33,Clubhouse Lake-Bois de Sioux River,"POLYGON ((-96.69140 45.93483, -96.69129 45.936...",0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.030477,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,090201010507,090201040401,"MN,ND",146.65,Bois de Sioux River,"POLYGON ((-96.67903 46.18438, -96.67900 46.184...",0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [14]:
huc12_westUS_with_GW_irr.columns

Index(['huc12', 'tohuc', 'states', 'areasqkm', 'name', 'geometry', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

### removing HUC12s with no groundwater water use over 2000-2020

In [15]:
gw_data_columns = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                   '2019', '2020']

In [16]:
huc12_westUS_with_GW_irr = huc12_westUS_with_GW_irr[(huc12_westUS_with_GW_irr[gw_data_columns] != 0).any(axis=1)]
huc12_westUS_with_GW_irr.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",766.639778,572.134921,589.506653,691.573210,...,948.015849,1610.707521,890.580681,1050.859240,916.263275,865.122228,765.324719,837.328548,405.505139,1423.834145
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.030477,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,090201050103,090201050104,ND,161.92,Big Slough,"POLYGON ((-98.06522 46.21900, -98.06516 46.219...",3323.240215,4099.365644,3690.957339,4513.627517,...,3495.882356,6332.692506,4393.893800,4373.352507,3370.114655,3420.950355,4592.921734,3797.321265,1983.362652,3614.383906
17,090201050104,090201050202,ND,128.36,Meszaros Slough,"POLYGON ((-97.93713 46.08834, -97.93710 46.088...",419.065374,607.900733,462.518321,538.962935,...,371.940130,876.085377,317.936222,400.756932,193.687181,177.233343,48.292453,524.879850,245.789822,272.026707
18,090201050701,090201050702,ND,216.68,Town of De Lamere-Elk Creek,"POLYGON ((-97.48092 46.30549, -97.48071 46.305...",259.263188,0.177319,290.811407,402.363846,...,0.149513,469.126751,286.646847,310.306761,360.786208,307.353492,0.250787,269.155476,0.024287,256.141739

## area calculation

In [17]:
huc12_westUS_with_GW_AF = huc12_westUS_with_GW_irr

In [18]:
# converting to projected coords
huc12_westUS_with_GW_AF = huc12_westUS_with_GW_AF.to_crs('EPSG:3857')
huc12_westUS_with_GW_AF = huc12_westUS_with_GW_AF.drop(columns=['areasqkm'])  # dropping because of some weird values
huc12_westUS_with_GW_AF['areasqkm'] = huc12_westUS_with_GW_AF['geometry'].area / (1000 * 1000) # unit in sqkm

## unit conversion from MGD to AF/year

In [19]:
huc12_westUS_with_GW_AF[gw_data_columns] = huc12_westUS_with_GW_AF[gw_data_columns] * 3.0689 # MGD to AF/year
huc12_westUS_with_GW_AF.head()

,huc12,tohuc,states,name,geometry,2000,2001,2002,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,areasqkm
0,070200010408,070200011101,"MN,SD",Big Stone Lake,"POLYGON ((-10779700.341 5716072.812, -10779690...",2352.740815,1755.824859,1809.136967,2122.369024,1700.003462,...,4943.100311,2733.103052,3224.981922,2811.920365,2654.973606,2348.705030,2569.677581,1244.454721,4369.604608,595.541280
3,090201010505,090201010507,"MN,ND",County Ditch No 26-Bois de Sioux River,"POLYGON ((-10762320.219 5788924.270, -10762320...",0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.093531,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,232.264538
16,090201050103,090201050104,ND,Big Slough,"POLYGON ((-10916570.255 5815513.467, -10916563...",10198.691896,12580.543225,11327.178978,13851.871487,11958.722225,...,19434.400032,13484.420683,13421.381509,10342.544865,10498.554544,14095.217509,11653.599230,6086.741643,11092.182769,338.035953
17,090201050104,090201050202,ND,Meszaros Slough,"POLYGON ((-10902311.951 5794517.033, -10902307...",1286.069726,1865.586560,1419.422475,1654.023351,808.053673,...,2688.618413,975.714472,1229.882949,594.406590,543.911406,148.204709,1610.803772,754.304385,834.822761,267.258451
18,090201050701,090201050702,ND,Town of De Lamere-Elk Creek,"POLYGON ((-10851526.703 5829440.442, -10851502...",795.652798,0.544174,892.471127,1234.814407,698.917175,...,1439.703086,879.690509,952.300419,1107.216794,943.237132,0.769640,826.011240,0.074534,786.073383,453.867296

## saving the HUC12 shapefiles with annual GW withdrawal 
`GW irrigation unit in AF/year`

In [20]:
huc12_westUS_with_GW_AF.to_file('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/HUC12_WestUS_with_Annual_GW.shp')