In [1]:
import calendar
import pandas as pd
import geopandas as gpd

# New SW Irrigation data for HUC12 from 2000-2020
__USGS source:__ https://www.sciencebase.gov/catalog/item/6488734cd34ef77fcafe347a

In [2]:
# USGS SW Irrigation unfiltered dataset for CONUS
conus_df = pd.read_csv('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/IR_HUC12_SW_2000_2020.csv')
conus_df

,Year,Month,010100020101,010100020102,010100020103,010100020104,010100020105,010100020201,010100020202,010100020203,...,181002041404,181002041501,181002041502,181002041503,181002041504,181002041505,181002041506,181002041507,181002041508,181002041600
0,2000,1,999,999,999,999,999,999,999,999,...,8.336743,999,1.275426,0.797185,999,999,0.087166,2.728204,6.837296,0.006625
1,2000,2,999,999,999,999,999,999,999,999,...,5.564370,999,0.454624,0.423711,999,999,0.031070,0.972465,2.437147,0.003183
2,2000,3,999,999,999,999,999,999,999,999,...,8.744829,999,0.723749,0.503358,999,999,0.049463,1.548137,3.879869,0.004347
3,2000,4,999,999,999,999,999,999,999,999,...,12.720588,999,1.304621,0.839095,999,999,0.089161,2.790654,6.993807,0.006463
4,2000,5,999,999,999,999,999,999,999,999,...,13.535360,999,1.726681,1.598889,999,999,0.118006,3.693463,9.256385,0.008270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2020,8,999,999,999,999,999,999,999,999,...,6.434034,999,1.418982,0.458079,999,999,0.201825,3.016456,9.464658,0.218485
248,2020,9,999,999,999,999,999,999,999,999,...,5.442515,999,1.178377,0.464310,999,999,0.167603,2.504980,7.859816,0.172551
249,2020,10,999,999,999,999,999,999,999,999,...,5.256459,999,1.243182,0.449360,999,999,0.176820,2.642741,8.292062,0.164409
250,2020,11,999,999,999,999,999,999,999,999,...,4.075659,999,0.802613,0.262462,999,999,0.114157,1.706185,5.353453,0.108192
251,2020,12,999,999,999,999,999,999,999,999,...,2.124704,999,0.417445,0.093818,999,999,0.059374,0.887400,2.784374,0.058471

In [3]:
# WestUS HUC12 shapefile
huc12_westUS = gpd.read_file('../../Data_main/shapefiles/HUCs/HUC12/HUC12WestUS.shp')
huc12_westUS.columns

Index(['noncontr00', 'sourcedata', 'areaacres', 'humod', 'sourcefeat', 'huc12',
       'shape_leng', 'tohuc', 'states', 'sourceorig', 'shape_area', 'areasqkm',
       'hutype', 'name', 'tnmid', 'metasource', 'loaddate', 'gnis_id',
       'noncontrib', 'geometry'],
      dtype='object')

In [4]:
# HUC12 no from west US HUC12 shapefile
westUS_HUC12s = list(huc12_westUS['huc12'])
westUS_HUC12s[:5]

['070200010408',
 '090201010203',
 '090201010502',
 '090201010505',
 '090201010507']

In [5]:
# Unique HUC12 no. in USGS database
usgs_HUC12s = [i for i in conus_df.columns if i not in ['Year', 'Month']]
usgs_HUC12s[:5]

['010100020101',
 '010100020102',
 '010100020103',
 '010100020104',
 '010100020105']

In [6]:
# USGS HUC12 no. filtered with westUS HUC12 shapefile
usgs_HUC12s= set(usgs_HUC12s)
westUS_HUC12s = set(westUS_HUC12s)

usgs_HUC12s_filtered = list(usgs_HUC12s.intersection(westUS_HUC12s))
usgs_HUC12s_filtered[:5]

['111303010107',
 '100600010206',
 '130100030701',
 '160600131403',
 '180400110107']

In [7]:
# USGS HUC12 filtered for WestUS
usgs_HUC12s_filtered = ['Year', 'Month'] + usgs_HUC12s_filtered
westUS_HUC12_df = conus_df[usgs_HUC12s_filtered]
westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal

westUS_HUC12_df.head()

C:\Users\fahim\AppData\Local\Temp\ipykernel_17672\1051887114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal
C:\Users\fahim\AppData\Local\Temp\ipykernel_17672\1051887114.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  westUS_HUC12_df[westUS_HUC12_df.isin([999, 888])] = 0   # setting null values to zero; no SW withdrawal

,Year,Month,111303010107,100600010206,130100030701,160600131403,180400110107,101800100807,101900150201,140600050205,...,102702050403,180902081907,101500030805,101701010804,100700050301,171200030306,140700050505,101303060105,180703010203,160600050401
0,2000,1,0.000000,0.0,0,0,0,0.000000,0.000000,0,...,0.000000,0,0.000000,0.000000,0,0.0,0,0,0.0,0
1,2000,2,0.000000,0.0,0,0,0,0.000000,0.000000,0,...,0.000000,0,0.000000,0.000000,0,0.0,0,0,0.0,0
2,2000,3,0.000000,0.0,0,0,0,0.000000,0.000000,0,...,0.000000,0,0.000000,0.000000,0,0.0,0,0,0.0,0
3,2000,4,0.000963,0.0,0,0,0,0.000000,0.000000,0,...,0.000000,0,0.000000,0.001351,0,0.0,0,0,0.0,0
4,2000,5,0.004663,0.0,0,0,0,0.000963,0.298261,0,...,0.068967,0,0.000051,0.190602,0,0.0,0,0,0.0,0

## Filtering the dataframe for growing season (April-October)

In [8]:
# filtering for growing season months (4-10)
westUS_HUC12_df_filtered = westUS_HUC12_df[westUS_HUC12_df['Month'].isin([4, 5, 6, 7, 8, 9, 10])]

## Counting number of days in a month

In [9]:
df = westUS_HUC12_df.copy()

In [10]:
# # Counting number of days in months
df['num_days_month'] = df.apply(lambda row: calendar.monthrange(int(row['Year']), int(row['Month']))[1], axis=1)
# df.head()

## Converting monthly mean SW withdrawal to monthly total SW withdrawal

In [11]:
# converting monthly mean SW withdrawal to monthly total SW withdrawal
columns_temporal = ['Year', 'Month', 'num_days_month']
cols_to_multiply = [i for i in df.columns if i not in columns_temporal]

multiplied_cols = df[cols_to_multiply].mul(df['num_days_month'], axis=0)
df.update(multiplied_cols)
df.head()

,Year,Month,111303010107,100600010206,130100030701,160600131403,180400110107,101800100807,101900150201,140600050205,...,180902081907,101500030805,101701010804,100700050301,171200030306,140700050505,101303060105,180703010203,160600050401,num_days_month
0,2000,1,0.000000,0.0,0,0,0,0.000000,0.000000,0,...,0,0.000000,0.000000,0,0.0,0,0,0.0,0,31
1,2000,2,0.000000,0.0,0,0,0,0.000000,0.000000,0,...,0,0.000000,0.000000,0,0.0,0,0,0.0,0,29
2,2000,3,0.000000,0.0,0,0,0,0.000000,0.000000,0,...,0,0.000000,0.000000,0,0.0,0,0,0.0,0,31
3,2000,4,0.028890,0.0,0,0,0,0.000000,0.000000,0,...,0,0.000000,0.040530,0,0.0,0,0,0.0,0,30
4,2000,5,0.144553,0.0,0,0,0,0.029853,9.246091,0,...,0,0.001581,5.908662,0,0.0,0,0,0.0,0,31

## Converting monthly totals to growing season SW withdrawal

In [12]:
# # summing for annual SW estimates
df = df.drop(columns=['Month', 'num_days_month'])
df_annual = df.groupby(by=['Year']).sum().reset_index()
df_annual

,Year,111303010107,100600010206,130100030701,160600131403,180400110107,101800100807,101900150201,140600050205,101000041806,...,102702050403,180902081907,101500030805,101701010804,100700050301,171200030306,140700050505,101303060105,180703010203,160600050401
0,2000,0.749590,0.000000,0,0,0,4.090109,139.229311,0,57.225678,...,34.122468,0,15.994101,468.081783,0,1258.163008,0,0,0.000000,0
1,2001,1.699474,104.148050,0,0,0,1.590037,115.366041,0,66.200053,...,0.000000,0,5.141187,332.412667,0,1221.216395,0,0,0.000000,0
2,2002,2.342275,44.720284,0,0,0,1.383349,130.013964,0,56.645923,...,0.000000,0,5.307640,348.301551,0,1471.178488,0,0,0.000000,0
3,2003,1.067027,99.050668,0,0,0,3.703007,128.848289,0,54.616080,...,0.000000,0,11.282550,432.512692,0,1398.889469,0,0,0.000000,0
4,2004,1.178048,0.000000,0,0,0,1.175992,161.330228,0,53.365686,...,0.000000,0,16.575035,356.749928,0,1526.022164,0,0,0.000000,0
5,2005,1.820756,0.000000,0,0,0,3.548894,143.514387,0,140.466699,...,0.000000,0,14.868644,271.855856,0,1324.652393,0,0,0.000000,0
6,2006,0.024507,0.103516,0,0,0,2.241747,147.654950,0,90.301775,...,0.000000,0,19.750097,351.898648,0,1513.155125,0,0,0.000000,0
7,2007,2.316057,105.294539,0,0,0,2.776160,130.867871,0,74.208444,...,52.363508,0,20.155204,270.964069,0,1600.095977,0,0,0.000000,0
8,2008,1.759740,0.000000,0,0,0,2.664020,149.906455,0,40.540232,...,35.922301,0,14.298222,298.807813,0,1994.554841,0,0,0.000000,0
9,2009,1.093809,0.375238,0,0,0,2.081851,105.626674,0,68.794738,...,39.095296,0,10.412669,249.331239,0,1441.914777,0,0,0.000000,0
10,2010,0.855039,53.994296,0,0,0,3.688205,132.037749,0,73.317852,...,0.000000,0,12.320226,319.342407,0,1434.063110,0,0,0.000000,0
11,2011,0.000000,109.552937,0,0,0,4.112950,141.358115,0,20.443308,...,12.487787,0,13.548661,322.374562,0,1374.741269,0,0,0.000000,0
12,2012,0.032184,0.000000,0,0,0,2.028630,141.305569,0,39.362508,...,0.000000,0,27.697338,582.743607,0,1182.941569,0,0,0.000000,0
13,2013,1.032155,101.367033,0,0,0,1.507722,143.725637,0,119.290553,...,0.000000,0,17.053551,508.334925,0,1409.747252,0,0,0.000000,0
14,2014,2.085909,112.057099,0,0,0,3.116332,117.641545,0,18.954711,...,30.595899,0,12.254923,375.570048,0,1941.901749,0,0,0.000000,0
15,2015,0.434678,85.601540,0,0,0,3.192350,133.535919,0,142.613708,...,0.000000,0,13.209770,304.120656,0,1800.613349,0,0,0.000000,0
16,2016,0.391506,0.000000,0,0,0,3.447434,140.065254,0,68.479476,...,0.000000,0,19.086520,292.815746,0,1949.462714,0,0,0.000000,0
17,2017,0.371332,0.000000,0,0,0,3.542575,138.357367,0,114.216046,...,0.000000,0,13.428218,365.054723,0,1882.836943,0,0,0.000000,0
18,2018,0.451177,0.000000,0,0,0,0.000000,148.223932,0,47.932550,...,46.989331,0,9.838406,212.600275,0,1827.098483,0,0,4.059059,0
19,2019,0.000000,0.778375,0,0,0,0.000000,97.300665,0,57.593941,...,19.377138,0,8.284270,186.572416,0,1726.373519,0,0,48.114433,0
20,2020,4.557468,0.000000,0,0,0,0.000000,150.028417,0,60.046957,...,0.000000,0,13.288487,465.536674,0,1880.357124,0,0,44.850528,0

## Tranposing the columns as rows
The annual dataframe has HUC12 names as column names. But the WestUS HUC12 shapefile has HUC12 names in a column (as rows). We need to transpose the annual dataframe.

In [13]:
df_annual_T = df_annual.T
df_annual_T.columns = df_annual_T.iloc[0].astype(int).astype(str)  # setting 1st row as column name
df_annual_T = df_annual_T.iloc[1:]  # dropping 1st row from dataframe
df_annual_T = df_annual_T.reset_index()
df_annual_T.columns.values[0] = 'huc12'
df_annual_T.head()

Year,huc12,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,111303010107,0.74959,1.699474,2.342275,1.067027,1.178048,1.820756,0.024507,2.316057,1.75974,...,0.000000,0.032184,1.032155,2.085909,0.434678,0.391506,0.371332,0.451177,0.000000,4.557468
1,100600010206,0.00000,104.148050,44.720284,99.050668,0.000000,0.000000,0.103516,105.294539,0.00000,...,109.552937,0.000000,101.367033,112.057099,85.601540,0.000000,0.000000,0.000000,0.778375,0.000000
2,130100030701,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,160600131403,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,180400110107,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Connecting the Annual SW USe dataframe with the HUC12 shapefile

In [14]:
huc12_westUS_with_SW_use = huc12_westUS.merge(df_annual_T, on='huc12')
huc12_westUS_with_SW_use = huc12_westUS_with_SW_use.drop(columns=['noncontr00', 'sourcedata',  'areaacres',  'humod', 'sourcefeat',
                                                                  'sourceorig', 'shape_area', 'shape_leng', 'hutype', 'tnmid', 'metasource',   
                                                                  'loaddate',    'gnis_id', 'noncontrib'])
huc12_westUS_with_SW_use.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",11.674741,11.676217,6.556689,12.676517,...,4.763886,8.094014,2.679789,10.614772,14.898552,11.394715,10.080254,9.313066,3.270176,15.836333
1,090201010203,090201010205,"MN,SD",102.27,Lower Lake Traverse,"POLYGON ((-96.74647 45.72157, -96.74638 45.721...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,090201010502,090201010505,"MN,ND,SD",147.33,Clubhouse Lake-Bois de Sioux River,"POLYGON ((-96.69140 45.93483, -96.69129 45.936...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000432,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,090201010507,090201040401,"MN,ND",146.65,Bois de Sioux River,"POLYGON ((-96.67903 46.18438, -96.67900 46.184...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [15]:
huc12_westUS_with_SW_use.columns

Index(['huc12', 'tohuc', 'states', 'areasqkm', 'name', 'geometry', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019', '2020'],
      dtype='object')

### removing HUC12s with no surface water use over 2000-2020

In [16]:
sw_data_columns = ['2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                   '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
                   '2019', '2020']

In [17]:
huc12_westUS_with_SW_use = huc12_westUS_with_SW_use[(huc12_westUS_with_SW_use[sw_data_columns] != 0).any(axis=1)]
huc12_westUS_with_SW_use.head()

,huc12,tohuc,states,areasqkm,name,geometry,2000,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,070200010408,070200011101,"MN,SD",293.39,Big Stone Lake,"POLYGON ((-96.83570 45.59745, -96.83561 45.598...",11.674741,11.676217,6.556689,12.676517,...,4.763886,8.094014,2.679789,10.614772,14.898552,11.394715,10.080254,9.313066,3.270176,15.836333
3,090201010505,090201010507,"MN,ND",111.84,County Ditch No 26-Bois de Sioux River,"POLYGON ((-96.67957 46.05348, -96.67957 46.053...",0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000432,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,090201050103,090201050104,ND,161.92,Big Slough,"POLYGON ((-98.06522 46.21900, -98.06516 46.219...",50.607688,79.396452,90.761206,82.734520,...,71.344547,122.651561,80.539785,93.810417,86.413192,109.442187,103.317242,101.365852,52.943966,92.676517
17,090201050104,090201050202,ND,128.36,Meszaros Slough,"POLYGON ((-97.93713 46.08834, -97.93710 46.088...",1.683023,2.441353,1.857498,2.164524,...,1.493718,3.518378,1.276876,1.609475,0.777851,0.711747,0.193920,2.107905,0.987127,1.092461
18,090201050701,090201050702,ND,216.68,Town of De Lamere-Elk Creek,"POLYGON ((-97.48092 46.30549, -97.48071 46.305...",21.933297,0.015010,24.602282,34.039450,...,0.012628,39.687508,23.241630,24.797746,30.098109,26.001711,0.020894,22.770199,0.002029,21.368265

## saving the HUC12 shapefiles with annual SW withdrawal 
`SW irrigation unit in MGD-million gallon per day`

In [18]:
huc12_westUS_with_SW_use.to_file('../../Data_main/USGS_water_use_data/USGS_new_wateruse_data_HUC12/HUC12_WestUS_with_Annual_SW.shp')